<html>
  <body>

    <div>

      <td>!!!АВТО С ТАКИМ НОМЕРОМ УЖЕ ЗАРЕГЕСТРИРОВАНО!!!</td>

    </div>

    <div>
      <td>
        <a href="/">Обратно к списку</a>
      </td>
    </div>
  </body>

</html>
