<html>


  <body>
    <div>
      <form method="post" action="/create">
        <input type="text" name="mark" placeholder="Марка авто"/>
        <input type="text" name="model" placeholder="Модель"/>
        <input type="text" name="category" placeholder="Категория ТС"/>
        <input type="text" name="number" placeholder="Номер авто"/>
        <input type="text" name="type" placeholder="Тип ТС"/>
        <input type="text" name="year" placeholder="Год выпуска"/>
        <input type="text" name="trailer" placeholder="Наличие прицепа"/>
        <button type="submit">Сохранить</button>
      </form>
    </div>

    {{#carsList}}
    <div>

      <span>{{mark}}</span>
      <span>{{model}}</span>
      <span>{{category}}</span>
      <span>{{number}}</span>
      <span>{{type}}</span>
      <span>{{year}}</span>
      <span>{{trailer}}</span>

      <td>
        <a href="/update/{{id}}">Редактировать</a>
      </td>
      <td>
        <a href="/delete/{{id}}">Удалить</a>
      </td>
    </div>
    {{/carsList}}

    <div>Поиск по номеру ТС</div>
    <form method="post" action="filter">
      <input type="text" name="filter"/>
      <button type="submit">Найти</button>
    </form>

  </body>
</html>
