<html>
  <body>

    <div>
      <tbody>
        {{#isUpdate}}
        <tr>
          <td>Меню редактирования данных ТС</td>
          <td><div name="mark">Марка авто: {{car.mark}}</div></td>
          <td><div name="model">Модель: {{car.model}}</div></td>
          <td><div name="category">Категория ТС: {{car.category}}</div></td>
          <td><div name="number">Номер авто: {{car.number}}</div></td>
          <td><div name="type">Тип ТС: {{car.type}}</div></td>
          <td><div name="year">Год выпуска: {{car.year}}</div></td>
          <td><div name="text">наличие прицепа: {{car.trailer}}</div></td>
        </tr>
        {{/isUpdate}}

      </tbody>
      <form method="post" action="/update">
        <input type="text" name="id" placeholder="{{car.id}}"/>
        <input type="text" name="mark" placeholder="Марка авто" />
        <input type="text" name="model" placeholder="Модель"/>
        <input type="text" name="category" placeholder="Категория ТС"/>
        <input type="text" name="number" placeholder="Номер авто"/>
        <input type="text" name="type" placeholder="Тип ТС"/>
        <input type="text" name="year" placeholder="Год выпуска"/>
        <input type="text" name="trailer" placeholder="Наличие прицепа"/>
        <button type="submit">Редактировать</button>
      </form>
      <form method="get" action="/">
        <button type="submit">Закрыть</button>
      </form>
    </div>

  </body>

</html>
